.button {
    background: none;
    font-size: 2em; /* increase font size */
    padding: 10px; /* add padding */
    cursor: pointer;
    border: none;
    color: rgb(239, 235, 5);
}

.navbar {
    display: flex;
    flex-direction: column; /* change direction */
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 4px;
    background-color: #825e31;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 235, 5);
    color: rgb(85, 85, 85);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
    font-size: 1.2em;
    position: relative;
    bottom: 8px;
}