<p>ordered coffee {{ orderedItems?.title}}</p>
<p>ordered dessert {{ orderedItems?.price}}</p>
<input type="text" [formControl]="searchTerm" placeholder="Search coffee"/>
<button (click)="search()">Search</button>
<app-cart></app-cart>
<div class="coffee-specialties">
    <h1 class="coffee-specialties__title">Our Specialties</h1>
</div>
<div class="coffee-card-slider">
    <button (click)="scrollLeft()" class="scroll-button">←</button>
    <div class="viewport">
        <div class="coffee-card-container">
            <app-coffee-card *ngFor="let coffeeFromArray of coffees" [coffee]="coffeeFromArray"></app-coffee-card>
        </div>
    </div>
    <button (click)="scrollRight()" class="scroll-button">→</button>
</div>
<div class="dessert-specialties">
    <h1 class="dessert-specialties__title">Our Desserts</h1>
</div>
<div class="dessert-card-slider">
    <button (click)="scrollLeft()" class="scroll-button">←</button>
    <div class="viewport">
        <div class="dessert-card-container">
            <app-dessert-card *ngFor="let dessertFromArray of desserts" [dessert]="dessertFromArray"></app-dessert-card>
        </div>
    </div>
    <button (click)="scrollRight()" class="scroll-button">→</button>
</div>
